<template>
  <div class="mesures-covid-19">
    <div>
      <h2 class="text-center grey--text text--darken-1 font-weight-medium">A Emporter</h2>
    </div>
    <v-container class="grey lighten-4 pt-6">
      <v-card
        class="center card pb-10 pt-8"
        flat
        align="center"
        justify="center"
        color="amber lighten-4"
        :elevation="hover ? 10 : 4"
        :class="{ up: hover }"      
      >
        <v-img
          src="../assets/img/take-out.svg"
          max-width="80px"
          class="pa-10 d-block ml-auto mr-auto"
          :class="{ 'zoom-efect': hover }"     
        ></v-img>  
          <v-card-text
            class="subtitle-1 pl-15 pr-15 pt-10 text-left grey--text text--darken-2 font-weight-medium"
          >
            <h4
              align="center"
              justify="center"
            >
              Bientôt Disponible
            </h4>
          </v-card-text>
      </v-card>
    </v-container>

    <v-container class="grey lighten-4">
      <!-- MENU LINKS -->
      <v-row align="center" justify="center">
        <v-col
          cols="6"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center cardRow"
              flat
              align="center"
              justify="center"
              color="purple lighten-5"
              to="/Menu-apres-midi"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"  
            >
              <v-img
                src="../assets/img/menu.svg"
                max-width="80px"
                class="d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <h6 class="font-weight-medium grey--text text--darken-1">Menu Après-Midi</h6>
            </v-card>
          </v-hover>
        </v-col>   
        <v-col
          cols="6"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center cardRow"
              flat
              align="center"
              justify="center"
              color="blue lighten-5"
              to="/Menu-midi"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }" 
            >
              <v-img
                src="../assets/img/menu.svg"
                max-width="80px"
                class="d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <h6 class="font-weight-medium grey--text text--darken-1">Menu Midi et Soir</h6>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row  align="center">
        <v-col
          cols="12"
          align="center"
        > 
          <v-btn
            small
            to="/"
            class="grey--text text--darken-1"
            color="red lighten-5"
            max-height="50"
            contain
          >
            <v-icon small left>mdi-home</v-icon> Retour Page d'accueil
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.card {
  padding-top: 23px;
  transition: 0.5s ease-out;
  margin: 0%;
}
.cardRow {
  min-height: 160px;
  transition: 0.5s ease-out;
  padding-top: 9%;
  padding-bottom: 8%;
}
</style>
