<template>
  <v-container class="grey lighten-3" fluid>
    <div>
      <h2 class="text-center grey--text text--darken-1 font-weight-medium">Galerie</h2>
    </div>
    <v-container pt-5 class="grey lighten-3">
      <v-row no-gutters>
        <v-col
          v-for="item in items"
                :key="item.id"
          cols="12"
          sm="4"
        >
          <v-card
            class="ma-2"
            tile
            :elevation="hover ? 10 : 4"
            :class="{ up: hover }"
          >
            <v-img :src="item.src" aspect-ratio="1.7"></v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>  
  </v-container> 
</template>

<script>
export default {
  name: "Galerie",
  data(){
    return {
      items: [
        {
          id:1,
          src: require("../assets/galleryImages/langoustines.png")
        },
        {
          id:2,
          src: require("../assets/galleryImages/interieur-creperie.png")
        },
        {
          id:3,
          src: require("../assets/galleryImages/une-crepe-complete.jpg")
        },
        {
          id:4,
          src: require("../assets/galleryImages/moulesfrites.jpg")
        },
        {
          id:5,
          src: require("../assets/galleryImages/terrasse-creperie-du-port-cote.jpg")
        },
        {
          id:6,
          src: require("../assets/galleryImages/fruit-de-mer-1-personne.jpg")
        },
        {
          id:7,
          src: require("../assets/galleryImages/crepe-dessert.png")
        },
        {
          id:8,
          src: require("../assets/galleryImages/aven.jpg")
        },
        {
          id:9,
          src: require("../assets/galleryImages/facade-creperie-du-port.jpg")
        },
      ]
    }
  }
};
</script>

<style scoped>
h2 {
  margin-top: 1.6%;
  margin-bottom: 1%;
}
</style>
