<template>
  <div class="home">
    <Header/>
    <QuickLinks/>
    <About/>
    <HomeMenuGrid/>
    <InfoMap/>
  </div>  
</template>

<script>
import Header from '@/components/Header.vue';
import About from '@/components/About.vue';
import QuickLinks from '@/components/QuickLinks.vue';
import InfoMap from '@/components/InfoMap.vue';
import HomeMenuGrid from '@/components/HomeMenuGrid.vue';

export default {
  name: "Home",
  components: {
    Header,
    QuickLinks,
    About,
    InfoMap,
    HomeMenuGrid
  }
};
</script>

<style scoped>

</style>
