<template>
  <v-container fluid fill-height class="grey lighten-2 mb-0 pb-8 pt-0">
    <v-row align="center" justify="center">
      <v-col
              cols="12"
              align="center"
      >
        <v-card
        class="
          card
          text-center 
          grey lighten-4 
          pt-5 pb-9 pl-15 pr-15
          mt-5"
        >
          <v-text class="text-center grey--text text--darken-2"><h3>Se connecter</h3></v-text>
          <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          >
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
              prepend-icon="mdi-email"
            ></v-text-field>
            <v-text-field
              v-model="password"
              type="password"
              :rules="passwordRules"
              label="Mot de passe"
              required
              prepend-icon="mdi-lock"
            ></v-text-field>
            <v-btn
              :disabled="!valid"
              color="success"
              class="mt-3"
              @click="login"
            >
              <i class="material-icons left">login</i>Connexion
            </v-btn>
          </v-form>
        </v-card>
        <v-card flat tile class=" grey lighten-2 mt-10">
          <v-row align="center">
            <v-col
              cols="12"
              align="center" 
            > 
              <v-btn
                small
                to="/"
                class="grey--text text--darken-1"
                color="red lighten-5"
                max-height="50"
                contain
              >
                <v-icon small left>mdi-home</v-icon> Retour Page d'accueil
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>  
</template>

<script>
  import * as firebase from "firebase";
  import "firebase/auth" ;
  import { mapGetters } from "vuex";

  export default {
    data: () => ({
      auth: null,
      valid: true,
      email: '',
      emailRules: [
        v => !!v || 'E-mail obligatoire',
        v => /.+@.+\..+/.test(v) || 'l E-mail doit être valide',
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Mot de passe obligatoire',
      ],
    }),
    computed: {
      ...mapGetters(["user"]),
        nextRoute() {
      return this.$route.query.redirect || "/produits";
      }
    },
    name: "Login",
    // when user state changes, the router is updated accordingly
    watch: {
      user(auth) {
        if (auth) {
          console.log("auth ok")
          .then(() => {
          this.$router.replace("/Produits");
        });
        alert(`vous êtes connecté`);
        }
      }
    },
    methods: {
      login(){
        const authent = new Promise((resolve, reject) => {
          const result = firebase.auth().signInWithEmailAndPassword(this.email, this.password);
          if(result){
            resolve(result)
          }else{
            reject()
          }
        })
        authent.then(() => {
          alert(`vous êtes connecté`);
          this.$router.replace("/Produits");
        }).catch(()=> {
          console.log('err')
        })
      },
      reloadRouter(){
        window.location.reload();
      }
    },
  }
</script>

<style scoped>
  .card {
    max-width: 600px;
  }
</style>
