<template>
  <v-container>
    <div>
      <h4 class="text-center grey--text text--darken-1 font-weight-medium">Carte de l'Après-Midi</h4>
    </div>
    <!-- CATEGORIES GRID-->
    <!-- ROW NB1 -->
    <v-row align="center" justify="center">
        <v-col
          cols="3"
          class="pr-0">
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#from' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }">
              <v-img
                src="../assets/img/logoCrepeFrom.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="grey--text text--darken-1 font-weight-medium">Crêpes de Froment</p>
            </v-card>
          </v-hover>

          
        </v-col>
        
        <v-col
          cols="3"
          class="pr-0"
        >

          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#iceCream' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/ice-cream.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Glaces</p>
            </v-card>
          </v-hover>
        </v-col>

        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#speMais' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/cake.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Spécialités Maison</p>
            </v-card>
          </v-hover>
        </v-col>
        
        <v-col
          cols="3"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#tapas' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              link
              
            >
              <v-img
                src="../assets/img/tapas.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Tapas Maison, Huîtres</p>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <!-- END OF ROW NB1 -->

      <!-- ROW NB2 -->
      <v-row align="center" justify="center">
        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card-r2"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#bleNoir' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/logo-crepe-ble-noir.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="grey--text text--darken-1 font-weight-medium">Crêpes de Blé Noir</p>
            </v-card>
          </v-hover>

          
        </v-col>
        
        <v-col
          cols="3"
          class="pr-0"
        >

          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card-r2"
              flat
              align="center"
              justify="center"
              color="red lighten-5"
              @click="$vuetify.goTo('#boiss' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }" 
            >
              <v-img
                src="../assets/img/party.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Boissons</p>
            </v-card>
          </v-hover>
        </v-col>

        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card-r2"
              flat
              align="center"
              justify="center"
              color="purple lighten-5"
              to="/Menu-midi"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/menu.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Menu Midi et Soir</p>
            </v-card>
          </v-hover>
        </v-col>
        
        <v-col
          cols="3"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card-r2"
              flat
              align="center"
              justify="center"
              color="blue lighten-5"
              to="/A-emporter"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              link>
              <v-img
                src="../assets/img/take-out.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">A Emporter</p>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <!-- END OF ROW NB2 -->

      <!-- END OF CATEGORIES GRID-->


    <!-- DATA TABLES -->
    <!-- INFOS CATEGORIES ET MENUS

        categories:

        1: crêpes froment
        12: specialités
        2: glaces
        21: coupe simple
        22: composees
        3: nos spécialités maison
        4: boissons fruits frais pressés
        41: jus de fruits
        42: boissons gazeuses
        43: eaux minérales
        44: cidres
        45: bières à la pression
        46: bières en bouteille
        47: boissons chaudes
        5: crêpes de blé noir simples
        51: crêpes de blé noir composéées
        52: crêpes de blé noir spécialités



        menus:
        1: midi et soir
        2: après-midi
        3: a emporter

        12: midi et soir + après-midi
    -->

    <!--
    <div>
      <h4 class="prod-h4 text-center grey--text text--darken-1 font-weight-medium">ALL PRODUCTS</h4>
    </div>
    
    <div>
      <v-simple-table fixed-header height="400px" class="table1">
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Nom</th>
              <th class="text-left">Description</th>
              <th class="text-left">Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" :key="product.name" >
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td v-if="product.activated == 1">{{ product.price }} euros</td>
              <td v-else class="text-left"><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>

    -->

    <!-- CREPES FROMENT -->
    <v-container pb-6 class="grey lighten-4 pt-3">
    <div id="from">
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium">CREPES DE FROMENT</h5>
      <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">(douces)</h6>
    </div>

    <v-card class="mb-6 pt-3 pb-3">
      <v-simple-table
        dense
        class="text-center grey--text text--darken-2"
      >
        <template v-slot:default>
          
          <tbody>
            <tr v-for="crepeFrom in crepesFrom" :key="crepeFrom.name">
              <td><span class="font-weight-medium">{{ crepeFrom.name }}</span>
                <span
                  v-if="crepeFrom.description != 'abs'"
                >
                  <br>
                  <p class="tab">{{ crepeFrom.description }}</p>
                </span>
              </td>
              <td v-if="crepeFrom.activated == 1">{{ crepeFrom.price }} euros</td>
              <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>    

    <!-- SPECIALITES -->

    <div>
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium">NOS SPECIALITES</h5>
      <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">(froment)</h6>
    </div>

    <div>
      <v-card class="pt-3 pb-3">
        <v-simple-table
          dense
          class="text-center grey--text text--darken-2"
        >
          <template v-slot:default>
            
            <tbody>
              <tr v-for="specialite in specialites" :key="specialite.name">
                <td><span class="font-weight-medium">{{ specialite.name }}:</span><span class="separ1">{{ specialite.description }}</span>
                  
                </td>
                <td v-if="specialite.activated == 1">{{ specialite.price }} euros</td>
                <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </div>
    </v-container>
    
    <!-- GLACES -->

    <v-container pb-6>
    <div id="iceCream">
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-3">NOS GLACES</h5>
      <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">PARFUMS AU CHOIX</h6>
    </div>

    <div>
      <v-card class="pt-3 pb-3 grey lighten-4">
      <v-simple-table
        dense
        class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
      >
        <template v-slot:default>
      
          <tbody>
            <tr v-for="glace in glaces" :key="glace.name">
              <td><span class="font-weight-medium">{{ glace.name }}:</span><br><span class="separ1">{{ glace.description }}</span>
                
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      </v-card>
    </div>

    <div>
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">COUPES SIMPLES</h5>
    </div>

    <div>
      <v-card class="pt-3 pb-3 grey lighten-4">
      <v-simple-table
        dense
        class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
      >
        <template v-slot:default>
          
          <tbody>
            <tr v-for="coupeSimple in coupeSimples" :key="coupeSimple.name">
              <td><span class="font-weight-medium">{{ coupeSimple.name }}:</span>
                <span 
                  class="separ1"
                  v-if="coupeSimple.description != 'abs'"
                >
                  {{ coupeSimple.description }}
                </span>
                
              </td>
              <td v-if="coupeSimple.activated == 1">{{ coupeSimple.price }} euros</td>
              <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      </v-card>
    </div>

    <div>
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">COMPOSEES</h5>
    </div>

    <div>
      <v-card class="pt-3 pb-3 grey lighten-4">
      <v-simple-table
        dense
        class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
      >
        <template v-slot:default>
         
          <tbody>
            <tr v-for="coupeComposee in coupeComposees" :key="coupeComposee.name">
              <td><span class="font-weight-medium">{{ coupeComposee.name }}</span><br><span class="separ1">{{ coupeComposee.description }}</span>
                
              </td>
              <td v-if="coupeComposee.activated == 1">{{ coupeComposee.price }} euros</td>
              <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      </v-card>
    </div>
    </v-container>

    <v-container pb-6 class="grey lighten-4 pt-3">
      <div id="tapas">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS TAPAS MAISON ET HUITRES</h5>
        <span class="grey--text text--darken-2 text-center font-weight-medium pt-4">
        <p>Nos tapas maison et huîtres sont servies à partir de 18H.</p></span>
        <span class="grey--text text--darken-2 text-center font-weight-medium pb-3">
        <p>Notre carte des tapas ainsi que celle des huîtres varient au fil des saisons et de la météo ( arrivages de poissons frais / saisonnalité des produits ).</p>
        </span>
      </div>
  
      <div id="speMais">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS SPECIALITES MAISON</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="speMaison in spesMaison" :key="speMaison.name">
                  <td><span class="font-weight-medium">{{ speMaison.name }}</span><br><span class="separ1">{{ speMaison.description }}</span>
                    
                  </td>
                  <td v-if="speMaison.activated == 1">{{ speMaison.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>
      </v-container>

      <!-- BOISSONS -->

      <v-container pb-6 class="red lighten-5">
      <div id="boiss">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-1 pb-2">NOS BOISSONS</h5>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Fruits Frais Pressés</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="boissFruitFrais in boissFruitsFrais" :key="boissFruitFrais.name">
                  <td><span class="font-weight-medium">{{ boissFruitFrais.name }}</span><br>
                  <span 
                  class="separ1"
                  v-if="boissFruitFrais.description != 'abs'"
                >
                  {{ boissFruitFrais.description }}
                </span>
                    
                  </td>
                  <td v-if="boissFruitFrais.activated == 1">{{ boissFruitFrais.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Jus de Fruits</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="jus2Fruits in jus2Fruits" :key="jus2Fruits.name">
                  <td><span class="font-weight-medium">{{ jus2Fruits.name }}</span><br><span class="separ1">{{ jus2Fruits.description }}</span>
                    
                  </td>
                  <td v-if="jus2Fruits.activated == 1">{{ jus2Fruits.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Boissons gazeuses</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="boissonGaz in boissonsGaz" :key="boissonGaz.name">
                  <td><span class="font-weight-medium">{{ boissonGaz.name }}</span><br><span class="separ1">{{ boissonGaz.description }}</span>
                    
                  </td>
                  <td v-if="boissonGaz.activated == 1">{{ boissonGaz.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Eaux minérales</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="eauMin in eauxMin" :key="eauMin.name">
                  <td><span class="font-weight-medium">{{ eauMin.name }}</span><br><span class="separ1">{{ eauMin.description }}</span>
                    
                  </td>
                  <td v-if="eauMin.activated == 1">{{ eauMin.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Cidres</h6>
        <span class="text-center grey--text text--darken-1 font-weight-medium">
          <p>Cidre du Bélon « brut » Cidrerie Goalabré</p>
          <p>producteur récoltant</p>
        </span>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="cidre in cidres" :key="cidre.name">
                  <td><span class="font-weight-medium">{{ cidre.name }}</span><br><span class="separ1">{{ cidre.description }}</span>
                    
                  </td>
                  <td v-if="cidre.activated == 1">{{ cidre.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Bières à la pression</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="bierePress in bieresPress" :key="bierePress.name">
                  <td><span class="font-weight-medium">{{ bierePress.name }}</span><br><span class="separ1">{{ bierePress.description }}</span>
                    
                  </td>
                  <td v-if="bierePress.activated == 1">{{ bierePress.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Bières en bouteille</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="biereBout in bieresBout" :key="biereBout.name">
                  <td><span class="font-weight-medium">{{ biereBout.name }}</span><br><span class="separ1">{{ biereBout.description }}</span>
                    
                  </td>
                  <td v-if="biereBout.activated == 1">{{ biereBout.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Boissons chaudes</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="boissonChaud in boissonsChaud" :key="boissonChaud.name">
                  <td><span class="font-weight-medium">{{ boissonChaud.name }}</span><br>
                  <span 
                  class="separ1"
                  v-if="boissonChaud.description != 'abs'"
                >
                  {{ boissonChaud.description }}
                </span>
                  </td>
                  <td v-if="boissonChaud.activated == 1">{{ boissonChaud.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

    </v-container>

    <!-- CREPES DE BLE NOIR-->
    <v-container pb-6>
      <div id="bleNoir">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-3">CREPES DE BLE NOIR</h5>
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-3">SIMPLES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3 grey lighten-4">
          <v-simple-table
            dense
            class="grey-data-table text-center grey--text text--darken-2  grey lighten-4"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="crepeBNSimpl in crepesBNSimpl" :key="crepeBNSimpl.name">
                  <td><span class="font-weight-medium">{{ crepeBNSimpl.name }}</span>
                    
                  </td>
                  <td v-if="crepeBNSimpl.activated == 1">{{ crepeBNSimpl.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <div>
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">LES COMPOSEES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3 grey lighten-4">
        <v-simple-table
          dense
          class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
        >
          <template v-slot:default>
            
            <tbody>
              <tr v-for="crepeBNComp in crepesBNComp" :key="crepeBNComp.name">
                <td><span class="font-weight-medium">{{ crepeBNComp.name }}:</span>
                  <span 
                    class="separ1"
                    v-if="crepeBNComp.description != 'abs'"
                  >
                    {{ crepeBNComp.description }}
                  </span>
                  
                </td>
                <td v-if="crepeBNComp.activated == 1">{{ crepeBNComp.price }} euros</td>
                <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        </v-card>
      </div>

      <div>
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS SPECIALITES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3 grey lighten-4">
        <v-simple-table
          dense
          class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
        >
          <template v-slot:default>
          
            <tbody>
              <tr v-for="crepeBNSpe in crepesBNSpe" :key="crepeBNSpe.name">
                <td><span class="font-weight-medium">{{ crepeBNSpe.name }}</span><br>
                <span 
                  class="separ1"
                  v-if="crepeBNSpe.description != 'abs'"
                >
                  {{ crepeBNSpe.description }}
                </span>
                  
                </td>
                <td v-if="crepeBNSpe.activated == 1">{{ crepeBNSpe.price }} euros</td>
                <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        </v-card>
      </div>
    </v-container>

  </v-container>
</template>

<script>
  import DAO from "../../lib/DAOProducts";

  export default {
    created () {
    this.initialize();
    this.filterCategAndMenu();
  },
    data (){
      return {
        products: [],
        crepesFrom: [],
        specialites: [],
        glaces: [],
        coupeSimples: [],
        coupeComposees: [],
        spesMaison: [],
        boissFruitsFrais: [],
        jus2Fruits: [],
        boissonsGaz: [],
        eauxMin: [],
        cidres: [],
        bieresPress: [],
        bieresBout: [],
        boissonsChaud: [],
        crepesBNSimpl: [],
        crepesBNComp: [],
        crepesBNSpe: [],
        

      }
    },
    methods: {
      initialize () {
        DAO.getAllProducts()
        .then(allproducts => {
          this.products = allproducts.data;
          
        });
      },
      filterCategAndMenu () {
        DAO.getAllProducts()
        .then(allproducts => {
          this.crepesFrom = allproducts.data.filter(product => product.categ === 1).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.specialites = allproducts.data.filter(product => product.categ === 12).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.glaces = allproducts.data.filter(product => product.categ === 2).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.coupeSimples = allproducts.data.filter(product => product.categ === 21).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.coupeComposees = allproducts.data.filter(product => product.categ === 22).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.spesMaison = allproducts.data.filter(product => product.categ === 3).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.boissFruitsFrais = allproducts.data.filter(product => product.categ === 4).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.jus2Fruits = allproducts.data.filter(product => product.categ === 41).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.boissonsGaz = allproducts.data.filter(product => product.categ === 42).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.eauxMin = allproducts.data.filter(product => product.categ === 43).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.cidres = allproducts.data.filter(product => product.categ === 44).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.bieresPress = allproducts.data.filter(product => product.categ === 45).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.bieresBout = allproducts.data.filter(product => product.categ === 46).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.boissonsChaud = allproducts.data.filter(product => product.categ === 47).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.crepesBNSimpl = allproducts.data.filter(product => product.categ === 5).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.crepesBNComp = allproducts.data.filter(product => product.categ === 51).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.crepesBNSpe = allproducts.data.filter(product => product.categ === 52).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);

        });
      }
     }
  }
</script>

<style scoped>
h4 {
  margin-top: 3%;
  margin-bottom: 5%;
}
.prod-h5 {
  margin-top: 1.4%;
  margin-bottom: 3%;
}
.tab{
  padding-left:2em;
}
.separ1{
  padding-left:1em;
}
.card {
  min-height: 153px;
  max-height: 153px;
  transition: 0.5s ease-out;
  margin: 0%;
  padding-top: 13%;
  padding-bottom: 8%;
}
.card-r2 {
  min-height: 150px;
  max-height: 150px;
  transition: 0.5s ease-out;
  margin: 0%;
  padding-top: 13%;
  padding-bottom: 8%;
}
.v-data-table
  /deep/
  tbody
  /deep/
  tr:hover:not(.v-data-table__expanded__content) {
  background: #ffffff !important;
}
.grey-data-table
  /deep/
  tbody
  /deep/
  tr:hover:not(.v-data-table__expanded__content) {
  background: #F5F5F5 !important;
}
.card p {
  font-size: 0.95rem;
}
</style>
