<template>
  <v-container>

    <div>
      <h4 class="text-center grey--text text--darken-1 font-weight-medium">Carte du Midi et du Soir</h4>
    </div>

    <!-- CATEGORIES GRID-->

    <!-- ROW NB1 -->
    <v-row align="center" justify="center">
        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#from' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/logoCrepeFrom.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="grey--text text--darken-1 font-weight-medium">Crêpes de Froment</p>
            </v-card>
          </v-hover>

          
        </v-col>
        
        <v-col
          cols="3"
          class="pr-0"
        >

          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#bleNoir' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/logo-crepe-ble-noir.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Crêpes de Blé Noir</p>
            </v-card>
          </v-hover>
        </v-col>

        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#salad' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/healthy-eating.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Salades</p>
            </v-card>
          </v-hover>
        </v-col>
        
        <v-col
          cols="3"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#moul' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              link
              
            >
              <v-img
                src="../assets/img/mussel.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <p class="font-weight-medium grey--text text--darken-1">Moules Frites</p>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <!-- END OF ROW NB1 -->

      <!-- ROW NB2 -->
      <v-row align="center" justify="center">
        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#fruitDeMer' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/shrimp.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="grey--text text--darken-1 font-weight-medium">Fruits de Mer</subtitle-2>
            </v-card>
          </v-hover>

          
        </v-col>
        
        <v-col
          cols="3"
          class="pr-0"
        >

          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#speEtPoiss' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/fish.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Spécialités et poissons</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>

        <v-col
          cols="3"
          class="pr-0"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#menuEnf' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/pirate-hat.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Menu Enfants</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
        
        <v-col
          cols="3"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              @click="$vuetify.goTo('#iceCream' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              link
              
            >
              <v-img
                src="../assets/img/ice-cream.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Glaces, Desserts Maison</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <!-- END OF ROW NB2 -->

      <!-- ROW NB3 -->
      <v-row align="center" justify="center">
        
        <v-col
          cols="4"
          class="pr-1"
        >

          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center cardRow3"
              flat
              align="center"
              justify="center"
              color="red lighten-5"
              @click="$vuetify.goTo('#boiss' )"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/party.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Boissons</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>

        <v-col
          cols="4"
          class="pr-1"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center cardRow3"
              flat
              align="center"
              justify="center"
              color="purple lighten-5"
              to="/Menu-apres-midi"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              
            >
              <v-img
                src="../assets/img/menu.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Menu Après-Midi</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
        
        <v-col
          cols="4"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center cardRow3"
              flat
              align="center"
              justify="center"
              color="blue lighten-5"
              to="/A-emporter"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              link
              
            >
              <v-img
                src="../assets/img/take-out.svg"
                max-width="58px"
                class="mb-2 d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">A Emporter</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <!-- END OF ROW NB3 -->

      <!-- END OF CATEGORIES GRID-->


    <!-- DATA TABLES -->
    <!-- INFOS CATEGORIES ET MENUS

        categories:

        1: crêpes froment
        12: specialités
        2: glaces
        21: coupe simple
        22: composees
        3: nos spécialités maison
        4: boissons fruits frais pressés
        41: jus de fruits
        42: boissons gazeuses
        43: eaux minérales
        44: cidres
        45: bières à la pression
        46: bières en bouteille
        47: boissons chaudes
        5: crêpes de blé noir simples
        51: crêpes de blé noir composéées
        52: crêpes de blé noir spécialités
        6: salades
        7: moules frites
        8: Fruits de Mer
        81: Spécialités et poissons
        9: menu enfants
        10: blancs Pays D Oc
        11: blancs Val De Loire
        123: rouges Val De Loire
        13: rouges Bourgogne
        14: roses
        15: vins Carafe
        111: Apéritifs
        112: Digestifs
        113: Apéritifs régionnaux
        114: Apéritifs sans alcool



        menus:
        1: midi et soir
        2: après-midi
        3: a emporter

        12: midi et soir + après-midi
    -->


    <!-- CREPES FROMENT -->
    <v-container pb-6 class="grey lighten-4 pt-3">
    <div id="from">
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium">CREPES DE FROMENT</h5>
      <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">(douces)</h6>
    </div>

    <v-card class="mb-6 pt-3 pb-3">
      <v-simple-table
        dense
        class="text-center grey--text text--darken-2"
      >
        <template v-slot:default>
          
          <tbody>
            <tr v-for="crepeFrom in crepesFrom" :key="crepeFrom.name">
              <td><span class="font-weight-medium">{{ crepeFrom.name }}</span>
                <span
                  v-if="crepeFrom.description != 'abs'"
                >
                  <br>
                  <p class="tab">{{ crepeFrom.description }}</p>
                </span>
              </td>
              <td v-if="crepeFrom.activated == 1">{{ crepeFrom.price }} euros</td>
              <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>  

    <!-- SPECIALITES -->

    <div>
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium">NOS SPECIALITES</h5>
      <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">(froment)</h6>
    </div>

    <div>
      <v-card class="pt-3 pb-3">
        <v-simple-table
          dense
          class="text-center grey--text text--darken-2"
        >
          <template v-slot:default>
            
            <tbody>
              <tr v-for="specialite in specialites" :key="specialite.name">
                <td><span class="font-weight-medium">{{ specialite.name }}:</span><span class="separ1">{{ specialite.description }}</span>
                  
                </td>
                <td v-if="specialite.activated == 1">{{ specialite.price }} euros</td>
                <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </div>
    </v-container>

    <!-- CREPES DE BLE NOIR -->
    <v-container pb-6>
      <div id="bleNoir">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-3">CREPES DE BLE NOIR</h5>
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-3">SIMPLES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3 grey lighten-4">
          <v-simple-table
            dense
            class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="crepeBNSimpl in crepesBNSimpl" :key="crepeBNSimpl.name">
                  <td><span class="font-weight-medium">{{ crepeBNSimpl.name }}:</span>
                    <span 
                      class="separ1"
                      v-if="crepeBNSimpl.description != 'abs'"
                    >
                      {{ crepeBNSimpl.description }}
                    </span>
                    
                  </td>
                  <td v-if="crepeBNSimpl.activated == 1">{{ crepeBNSimpl.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
        
        
      </div>

      <div>
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">LES COMPOSEES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3 grey lighten-4">
        <v-simple-table
          dense
          class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
        >
          <template v-slot:default>
            
            <tbody>
              <tr v-for="crepeBNComp in crepesBNComp" :key="crepeBNComp.name">
                <td><span class="font-weight-medium">{{ crepeBNComp.name }}:</span>
                  <span 
                    class="separ1"
                    v-if="crepeBNComp.description != 'abs'"
                  >
                    {{ crepeBNComp.description }}
                  </span>
                  
                </td>
                <td v-if="crepeBNComp.activated == 1">{{ crepeBNComp.price }} euros</td>
                <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        </v-card>
      </div>

      <div>
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS SPECIALITES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3 grey lighten-4">
        <v-simple-table
          dense
          class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
        >
          <template v-slot:default>
          
            <tbody>
              <tr v-for="crepeBNSpe in crepesBNSpe" :key="crepeBNSpe.name">
                <td><span class="font-weight-medium">{{ crepeBNSpe.name }}</span><br>
                    <span class="separ1"
                          v-if="crepeBNSpe.description != 'abs'"
                    >{{ crepeBNSpe.description }}</span>
                  
                </td>
                <td v-if="crepeBNSpe.activated == 1">{{ crepeBNSpe.price }} euros</td>
                <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        </v-card>
      </div>
    </v-container> 
    
    <!-- SALADES -->

    <v-container pb-6 class="grey lighten-4 pt-3">
    <div id="salad">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS SALADES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="salade in salades" :key="salade.name">
                  <td><span class="font-weight-medium">{{ salade.name }}</span><br><span v-if="salade.description != 'abs'" class="separ1">{{ salade.description }}</span>
                    
                  </td>
                  <td v-if="salade.activated == 1">{{ salade.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

    <div id="moul">
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS MOULES FRITES</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="moule in moules" :key="moule.name">
                  <td><span class="font-weight-medium">{{ moule.name }}</span><br><span v-if="moule.description != 'abs'" class="separ1">{{ moule.description }}</span>
                    
                  </td>
                  <td v-if="moule.activated == 1">{{ moule.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>
      </v-container>

      <!-- FRUITS DE MER / SPE POISSONS -->
      <v-container pb-6>
        <div id="fruitDeMer">
          <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-3">FRUITS DE MER</h5>
        </div>

        <div>
          <v-card class="pt-3 pb-3 grey lighten-4">
          <v-simple-table
            dense
            class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="fruitDeMer in fruitsDeMer" :key="fruitDeMer.name">
                  <td><span class="font-weight-medium">{{ fruitDeMer.name }}</span><br><span v-if="fruitDeMer.description != 'abs'" class="separ1">{{ fruitDeMer.description }}</span>
                    
                  </td>
                  <td v-if="fruitDeMer.activated == 1">{{ fruitDeMer.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
        </div>

        <div id="speEtPoiss">
          <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">SPECIALITES ET POISSONS</h5>
        </div>

        <div>
          <v-card class="pt-3 pb-3 grey lighten-4">
          <v-simple-table
            dense
            class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="spePoiss in spesPoiss" :key="spePoiss.name">
                  <td><span class="font-weight-medium">{{ spePoiss.name }}</span>
                    <span 
                      class="separ1"
                      v-if="spePoiss.description != 'abs'"
                    >
                      {{ spePoiss.description }}
                    </span>
                    
                  </td>
                  <td v-if="spePoiss.activated == 1">{{ spePoiss.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
            <v-card class="ma-2 mt-5 pa-3 red lighten-5">
              <subtitle-2 class="text-center grey--text text--darken-2">
                Nous nous approvisionons en poisson frais et crustacés à la poissonnerie Naour Morel rue du presbytère à Riec sur Belon.
                <br>Les huîtres proviennent de la Cabane aux coquillages à Nevez.
                <br>* Les noix de Saint-jacques nous sont livrées congelées entières et cuisinées par nos soins.
              </subtitle-2>
            </v-card>
          </v-card>
        </div>

        <div id="menuEnf">
          <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4">MENU ENFANTS</h5>
          
        </div>

        <div>
          <p v-if="menuEnfDispo == 1" class="text-center grey--text text--darken-1 font-weight-medium">{{menuEnfPrice}} euros</p>
          <p v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></p>
          <p class="text-center grey--text text--darken-1 font-weight-medium pb-1">Jusqu'à 12 ans</p>
        </div>
        
        <div>
          <v-card class="pt-3 pb-3 grey lighten-4">
          <v-simple-table
            dense
            class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
          >
            <template v-slot:default>
            
              <tbody>
                <tr v-for="menuEnf in menusEnf" :key="menuEnf.name">
                  <td><span class="font-weight-medium">{{ menuEnf.name }}</span><br><span class="separ1">{{ menuEnf.description }}</span>
                    
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          </v-card>
          <v-card class=" mt-5 pa-3 red lighten-5">
              <subtitle-2 class="text-center grey--text text--darken-2">
                La liste des allergènes contenus dans nos produits est disponible au « point infos allergènes » près du bar.
                <br>Nous restons à votre disposition pour toute information complémentaire.
              </subtitle-2>
            </v-card>
        </div>
      </v-container>

      <!-- GLACES -->

    <v-container pb-6>
    <div id="iceCream">
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium">NOS GLACES</h5>
      <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">PARFUMS AU CHOIX</h6>
    </div>

    <div>
      <v-card class="pt-3 pb-3 grey lighten-4">
      <v-simple-table
        dense
        class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
      >
        <template v-slot:default>
      
          <tbody>
            <tr v-for="glace in glaces" :key="glace.name">
              <td><span class="font-weight-medium">{{ glace.name }}:</span><br><span class="separ1">{{ glace.description }}</span>
                
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      </v-card>
    </div>

    <div>
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">COUPES SIMPLES</h5>
    </div>

    <div>
      <v-card class="pt-3 pb-3 grey lighten-4">
      <v-simple-table
        dense
        class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
      >
        <template v-slot:default>
          
          <tbody>
            <tr v-for="coupeSimple in coupeSimples" :key="coupeSimple.name">
              <td><span class="font-weight-medium">{{ coupeSimple.name }}:</span>
                <span 
                  class="separ1"
                  v-if="coupeSimple.description != 'abs'"
                >
                  {{ coupeSimple.description }}
                </span>
                
              </td>
              <td v-if="coupeSimple.activated == 1">{{ coupeSimple.price }} euros</td>
              <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      </v-card>
    </div>

    <div>
      <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">COMPOSEES</h5>
    </div>

    <div>
      <v-card class="pt-3 pb-3 grey lighten-4">
      <v-simple-table
        dense
        class="grey-data-table text-center grey--text text--darken-2 grey lighten-4"
      >
        <template v-slot:default>
         
          <tbody>
            <tr v-for="coupeComposee in coupeComposees" :key="coupeComposee.name">
              <td><span class="font-weight-medium">{{ coupeComposee.name }}</span><br><span class="separ1">{{ coupeComposee.description }}</span>
                
              </td>
              <td v-if="coupeComposee.activated == 1">{{ coupeComposee.price }} euros</td>
              <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      </v-card>
    </div>
    </v-container>

    <v-container pb-6 class="grey lighten-4 pt-3">
  
      <div id="speMais">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-4 pb-3">NOS DESSERTS MAISON</h5>
      </div>

      <div>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="speMaison in spesMaison" :key="speMaison.name">
                  <td><span class="font-weight-medium">{{ speMaison.name }}</span><br><span class="separ1">{{ speMaison.description }}</span>
                    
                  </td>
                  <td v-if="speMaison.activated == 1">{{ speMaison.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>
    </v-container>

    <!-- BOISSONS -->

    <v-container pb-6 class="teal lighten-5">
      <div id="boiss">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-1 pb-2">NOS BOISSONS</h5>
      </div>

      <!-- APERITIFS -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Apéritifs</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="aperitif in aperitifs" :key="aperitif.name">
                  <td><span class="font-weight-medium">{{ aperitif.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="aperitif.description != 'abs'"
                    >
                      {{ aperitif.description }}
                    </span>
                  </td>
                  <td v-if="aperitif.activated == 1">{{ aperitif.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- DIGESTIFS -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Digestifs</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="digestif in digestifs" :key="digestif.name">
                  <td><span class="font-weight-medium">{{ digestif.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="digestif.description != 'abs'"
                    >
                      {{ digestif.description }}
                    </span>
                  </td>
                  <td v-if="digestif.activated == 1">{{ digestif.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- APERITIFS REGIONNAUX -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Apéritifs Régionnaux</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="aperitifReg in aperitifsReg" :key="aperitifReg.name">
                  <td><span class="font-weight-medium">{{ aperitifReg.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="aperitifReg.description != 'abs'"
                    >
                      {{ aperitifReg.description }}
                    </span>
                  </td>
                  <td v-if="aperitifReg.activated == 1">{{ aperitifReg.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- APERITIFS SANS ALCOOL -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Apéritifs Sans Alcool</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="aperitifSSalcool in aperitifsSSalcool" :key="aperitifSSalcool.name">
                  <td><span class="font-weight-medium">{{ aperitifSSalcool.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="aperitifSSalcool.description != 'abs'"
                    >
                      {{ aperitifSSalcool.description }}
                    </span>
                  </td>
                  <td v-if="aperitifSSalcool.activated == 1">{{ aperitifSSalcool.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- BIERES PRESSION -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium  mt-5 mb-3">Bières à la pression</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="bierePress in bieresPress" :key="bierePress.name">
                  <td><span class="font-weight-medium">{{ bierePress.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="bierePress.description != 'abs'"
                    >
                      {{ bierePress.description }}
                    </span>
                  </td>
                  <td v-if="bierePress.activated == 1">{{ bierePress.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- BIERES BOUTEILLE -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Bières en bouteille</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="biereBout in bieresBout" :key="biereBout.name">
                  <td><span class="font-weight-medium">{{ biereBout.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="biereBout.description != 'abs'"
                    >
                      {{ biereBout.description }}
                    </span>
                  </td>
                  <td v-if="biereBout.activated == 1">{{ biereBout.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- CIDRES -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Cidres</h6>
        
        <v-card class="pt-3 pb-3">
          <span class="text-center grey--text text--darken-1 font-weight-medium">
          <p>Cidre du Bélon « brut » Cidrerie Goalabré</p>
          <p>producteur récoltant</p>
        </span>
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="cidre in cidres" :key="cidre.name">
                  <td><span class="font-weight-medium">{{ cidre.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="cidre.description != 'abs'"
                    >
                      {{ cidre.description }}
                    </span>
                  </td>
                  <td v-if="cidre.activated == 1">{{ cidre.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- EAUX MINERALES -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Eaux minérales</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="eauMin in eauxMin" :key="eauMin.name">
                  <td><span class="font-weight-medium">{{ eauMin.name }}</span><br><span class="separ1">{{ eauMin.description }}</span>
                    
                  </td>
                  <td v-if="eauMin.activated == 1">{{ eauMin.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- JUS DE FRUITS -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Jus de Fruits</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="ju2Fruits in jus2Fruits" :key="ju2Fruits.name">
                  <td><span class="font-weight-medium">{{ ju2Fruits.name }}</span><br><span class="separ1">{{ ju2Fruits.description }}</span>
                    
                  </td>
                  <td v-if="ju2Fruits.activated == 1">{{ ju2Fruits.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- BOISSONS CHAUDES-->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Boissons chaudes</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="boissonChaud in boissonsChaud" :key="boissonChaud.name">
                  <td><span class="font-weight-medium">{{ boissonChaud.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="boissonChaud.description != 'abs'"
                    >
                      {{ boissonChaud.description }}
                    </span>
                  </td>
                  <td v-if="boissonChaud.activated == 1">{{ boissonChaud.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- BOISSONS GAZEUSES -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Boissons gazeuses</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="boissonGaz in boissonsGaz" :key="boissonGaz.name">
                  <td><span class="font-weight-medium">{{ boissonGaz.name }}</span><br><span class="separ1">{{ boissonGaz.description }}</span>
                    
                  </td>
                  <td v-if="boissonGaz.activated == 1">{{ boissonGaz.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      <!-- LAITS -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium mt-5 mb-3">Laits</h6>
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="lait in laits" :key="lait.name">
                  <td><span class="font-weight-medium">{{ lait.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="lait.description != 'abs'"
                    >
                      {{ lait.description }}
                    </span>
                  </td>
                  <td v-if="lait.activated == 1">{{ lait.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

    </v-container>

    <!-- CARTE DES VINS -->
    <v-container pb-6 class="red lighten-5">
      <div id="boiss">
        <h5 class="prod-h5 text-center grey--text text--darken-1 font-weight-medium pt-1 pb-2">CARTE DES VINS</h5>
      </div>

      <!-- VINS BLANCS -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">NOS VINS BLANCS</h6>
        <v-card class="pt-3 pb-3">
          <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Pays d'Oc</h6>
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="blancPaysDOc in blancsPaysDOc" :key="blancPaysDOc.name">
                  <td><span class="font-weight-medium">{{ blancPaysDOc.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="blancPaysDOc.description != 'abs'"
                    >
                      {{ blancPaysDOc.description }}
                    </span>
                  </td>
                  <td v-if="blancPaysDOc.activated == 1">{{ blancPaysDOc.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Val de Loire</h6>
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="blancValDeLoire in blancsValDeLoire" :key="blancValDeLoire.name">
                  <td><span class="font-weight-medium">{{ blancValDeLoire.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="blancValDeLoire.description != 'abs'"
                    >
                      {{ blancValDeLoire.description }}
                    </span>
                  </td>
                  <td v-if="blancValDeLoire.activated == 1">{{ blancValDeLoire.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>
      <!-- FIN VINS BLANCS -->

      <!-- VINS ROUGES -->
      
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">NOS VINS ROUGES</h6>
        <v-card class="pt-3 pb-3">
          <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Val de Loire</h6>
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="rougeValDeLoire in rougesValDeLoire" :key="rougeValDeLoire.name">
                  <td><span class="font-weight-medium">{{ rougeValDeLoire.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="rougeValDeLoire.description != 'abs'"
                    >
                      {{ rougeValDeLoire.description }}
                    </span>
                  </td>
                  <td v-if="rougeValDeLoire.activated == 1">{{ rougeValDeLoire.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Bourgogne</h6>
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="rougeBourgogne in rougesBourgogne" :key="rougeBourgogne.name">
                  <td><span class="font-weight-medium">{{ rougeBourgogne.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="rougeBourgogne.description != 'abs'"
                    >
                      {{ rougeBourgogne.description }}
                    </span>
                  </td>
                  <td v-if="rougeBourgogne.activated == 1">{{ rougeBourgogne.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>
      <!-- END VINS ROUGES -->

      <!-- VINS ROSES -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">NOS VINS ROSES</h6>
        <v-card class="pt-3 pb-3">
          <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">Cotes de Gascogne</h6>
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="rose in roses" :key="rose.name">
                  <td><span class="font-weight-medium">{{ rose.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="rose.description != 'abs'"
                    >
                      {{ rose.description }}
                    </span>
                  </td>
                  <td v-if="rose.activated == 1">{{ rose.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>
      <!-- END VINS ROSES -->

      <!-- VINS CARAFE -->
      <div>
        <h6 class="prod-h6 text-center grey--text text--darken-1 font-weight-medium pb-3">NOS VINS EN CARAFE</h6>
        
        <v-card class="pt-3 pb-3">
          <v-simple-table
            dense
            class="text-center grey--text text--darken-2"
          >
            <template v-slot:default>
              
              <tbody>
                <tr v-for="vinCarafe in vinsCarafe" :key="vinCarafe.name">
                  <td><span class="font-weight-medium">{{ vinCarafe.name }}</span>
                    <br>
                    <span 
                      class="separ1"
                      v-if="vinCarafe.description != 'abs'"
                    >
                      {{ vinCarafe.description }}
                    </span>
                  </td>
                  <td v-if="vinCarafe.activated == 1">{{ vinCarafe.price }} euros</td>
                  <td v-else><v-btn x-small class="ma-2 ml-0" outlined color="red">indisponible</v-btn></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </div>

      

    </v-container>

  </v-container>
</template>

<script>
  import DAO from "../../lib/DAOProducts";

  export default {
    created () {
    this.initialize();
    this.filterCategAndMenu();
  },
    data (){
      return {
        products: [],
        crepesFrom: [],
        specialites: [],
        glaces: [],
        coupeSimples: [],
        coupeComposees: [],
        spesMaison: [],
        boissFruitsFrais: [],
        jus2Fruits: [],
        boissonsGaz: [],
        eauxMin: [],
        cidres: [],
        bieresPress: [],
        bieresBout: [],
        boissonsChaud: [],
        laits: [],
        crepesBNSimpl: [],
        crepesBNComp: [],
        crepesBNSpe: [],
        salades: [],
        moules: [],
        fruitsDeMer: [],
        spesPoiss: [],
        menusEnf: [],
        blancsPaysDOc: [],
        blancsValDeLoire: [],
        rougesValDeLoire: [],
        rougesBourgogne: [],
        roses: [],
        vinsCarafe: [],
        aperitifs: [],
        digestifs: [],
        aperitifsReg: [],
        aperitifsSSalcool: [],

        menuEnfPrice: null,
        menuEnfDispo: null,
      }
    },
    methods: {
      initialize () {
        /*DAO.getAllProducts()
        .then(allproducts => {
          this.products = allproducts.data;
          
        }); */
        this.filterCategAndMenu();
      },
      filterCategAndMenu () {
        DAO.getAllProducts()
        .then(allproducts => {
          this.crepesFrom = allproducts.data.filter(product => product.categ === 1).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.specialites = allproducts.data.filter(product => product.categ === 12).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.glaces = allproducts.data.filter(product => product.categ === 2).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.coupeSimples = allproducts.data.filter(product => product.categ === 21).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.coupeComposees = allproducts.data.filter(product => product.categ === 22).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.spesMaison = allproducts.data.filter(product => product.categ === 3).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.boissFruitsFrais = allproducts.data.filter(product => product.categ === 4).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.jus2Fruits = allproducts.data.filter(product => product.categ === 41).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.boissonsGaz = allproducts.data.filter(product => product.categ === 42).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.eauxMin = allproducts.data.filter(product => product.categ === 43).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.cidres = allproducts.data.filter(product => product.categ === 44).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.bieresPress = allproducts.data.filter(product => product.categ === 45).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.bieresBout = allproducts.data.filter(product => product.categ === 46).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.boissonsChaud = allproducts.data.filter(product => product.categ === 47).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.laits = allproducts.data.filter(product => product.categ === 48).filter(product => product.menu === 1).sort((a, b) => a.position - b.position).sort((a, b) => a.position - b.position);
          this.crepesBNSimpl = allproducts.data.filter(product => product.categ === 5).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.crepesBNComp = allproducts.data.filter(product => product.categ === 51).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.crepesBNSpe = allproducts.data.filter(product => product.categ === 52).filter(product => product.menu === 12 || product.menu === 2).sort((a, b) => a.position - b.position);
          this.salades = allproducts.data.filter(product => product.categ === 6).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.moules = allproducts.data.filter(product => product.categ === 7).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.fruitsDeMer = allproducts.data.filter(product => product.categ === 8).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.spesPoiss = allproducts.data.filter(product => product.categ === 81).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.menusEnf = allproducts.data.filter(product => product.categ === 9).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.blancsPaysDOc = allproducts.data.filter(product => product.categ === 10).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.blancsValDeLoire = allproducts.data.filter(product => product.categ === 11).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.rougesValDeLoire = allproducts.data.filter(product => product.categ === 123).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.rougesBourgogne = allproducts.data.filter(product => product.categ === 13).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.roses = allproducts.data.filter(product => product.categ === 14).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.vinsCarafe = allproducts.data.filter(product => product.categ === 15).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.aperitifs = allproducts.data.filter(product => product.categ === 111).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.digestifs = allproducts.data.filter(product => product.categ === 112).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.aperitifsReg = allproducts.data.filter(product => product.categ === 113).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);
          this.aperitifsSSalcool = allproducts.data.filter(product => product.categ === 114).filter(product => product.menu === 1).sort((a, b) => a.position - b.position);


          // getting menu enfant price
          this.menuEnfPrice = this.menusEnf[0].price;
          // check if menu enfant == disponible (value=='abs' if not available)
          this.menuEnfDispo = this.menusEnf[0].activated;
        });
      }
     }
  }
</script>

<style scoped>
h4 {
  margin-top: 3%;
  margin-bottom: 5%;
}
.prod-h5 {
  margin-top: 1.4%;
  margin-bottom: 3%;
}
.tab{
  padding-left:2em;
}
.separ1{
  padding-left:1em;
}
.card {
  min-height: 160px;
  max-height: 160px;
  transition: 0.5s ease-out;
  margin: 0%;
  padding-top: 13%;
  padding-bottom: 8%;
}
.cardRow3 {
  min-height: 145px;
  max-height: 160px;
  transition: 0.5s ease-out;
  margin: 0%;
  padding-top: 13%;
  padding-bottom: 7%;
}
.v-data-table
  /deep/
  tbody
  /deep/
  tr:hover:not(.v-data-table__expanded__content) {
  background: #ffffff !important;
}
.grey-data-table
  /deep/
  tbody
  /deep/
  tr:hover:not(.v-data-table__expanded__content) {
  background: #F5F5F5 !important;
}
</style>
