<template>
  <div class="mesures-covid-19">
    <div>
      <h2 class="text-center grey--text text--darken-1 font-weight-medium">Mesures Covid-19</h2>
    </div>
    <v-container>

      <v-card
        class="center card pb-10 pt-8"
        flat
        align="center"
        justify="center"
        color="red lighten-4"
        :elevation="hover ? 10 : 4"
        :class="{ up: hover }"
              
         >
            <v-img
            src="../assets/img/no-virus.svg"
            max-width="80px"
            class="pa-10 d-block ml-auto mr-auto"
            :class="{ 'zoom-efect': hover }"
                
          ></v-img>
              
          <v-card-text class="subtitle-1 pl-15 pr-15 pt-10 text-left grey--text text--darken-2 font-weight-medium">
            <li>Le port du masque est obligatoire pour tout déplacement à l’intérieur du restaurant (et terrasse).</li>
            <li>Bornes avec distributeurs de gel hydro-alcoolique.</li>
            <li>Marquages au sol et mise en place d’une circulation.</li>
            <li>Paiement « à table » privilégié.</li>
          </v-card-text>
      </v-card>

      <v-card
        class="center mt-5 pb-3"
        flat
        align="center"
        justify="center"
        color="white"
              
         >    
          <v-card-text class="subtitle-1 pl-15 pr-15 text-left grey--text text--darken-2 font-weight-medium">
            <p>Notre restaurant est ouvert au public de manière « adaptée ». Nous prenons pour référence le guide sanitaire publié par le groupement national des indépendants (GNI), syndicat référence de la profession.</p>
            <p>Cliquez <a href="https://www.gni-hcr.fr/IMG/pdf/protocole_de_deconfinement_hcr_22_mai.pdf">ICI</a> pour voir le guide sanitaire du GNI.</p>
            <p>Ce guide est commun à tous les métiers du secteur de l’hôtellerie-Restauration: Ces mesures sont validées ou en cours de validation par le gouvernement.</p>
            <p>Nous avons mis en place un protocole sanitaire concernant les règles d’hygiène et de nettoyage, les mesures de distanciation entre les équipes et les gestes barrières vis-à-vis des clients.</p>
          </v-card-text>
      </v-card>
      <span id="infosqr"></span>
      <v-card
        class="grey lighten-2 pb-2 pt-3"
        id="infosqr"
      >

        <v-row align="center">
          <v-col xs="12" sm="12" md="12" lg="10" xl="10">
            <v-card flat class="grey lighten-2 vcard">
              <v-card flat class="amber lighten-4 pa-1 mt-3 ml-2 mr-2">
                <h6 class="text-center grey--text text--darken-2 font-weight-medium">
                  La carte du restaurant est disponible en « flashant » un QR CODE affiché à l’extérieur et proposé par nos serveurs en salle et en terrasse.
              </h6>
              </v-card>
              <v-card-text class=" subtitle-1 text-left grey--text text--darken-2 font-weight-medium vcardtext1">
                <h6 class="font-weight-bold">Est-ce que mon smartphone ou ma tablette Android peut lire les codes QR en natif ?</h6>
                <p>La meilleure façon de découvrir si votre appareil peut lire les codes QR est d’<span class="font-weight-black">ouvrir votre application d’appareil photo et de la pointer pendant 2-3 secondes sans bouger vers le code QR</span> que vous souhaitez scanner. Si le scan est activé, une notification s’affiche. Si rien ne se produit, vous devez aller dans votre application Réglages et activer le scan de codes QR. Si ce n’est pas une option dans vos réglages, votre appareil ne peut malheureusement pas scanner les codes QR en natif. Mais ne vous inquiétez pas, vous pouvez télécharger une application de lecture de codes QR tierce.</p>
              </v-card-text>
            </v-card>
            
          </v-col>
          <v-col
              xs="12" sm="12" md="12" lg="2" xl="2"
              
              >
            <v-card
              flat
              class="grey lighten-2 vcard pb-3 pt-3"
              align="center"
              justify="center"
            >
              <v-img class="img1 ma-2 mr-3" src="../assets/img/smart-scan.png" alt="qr-code" />
            </v-card>
          </v-col>
        </v-row>
          
        <v-row  align="center">
          <v-col
            cols="12"
            align="center"
          > 
            
              <v-btn
              small
              to="/"
              class="grey--text text--darken-1"
              color="purple lighten-5"
              max-height="50"
              contain
              >
                <v-icon small left>mdi-home</v-icon> Retour Page d'accueil
              </v-btn>
          </v-col>
        </v-row>
        
      </v-card>

    </v-container>
  </div>
</template>

<style scoped>
.card {
  padding-top: 23px;
  transition: 0.5s ease-out;
  margin: 0%;
}
.vta {
  padding-top: 20px;
}
.img1 {
  max-width: 200px;
}
</style>
