<template>
  <!-- ALL PRODUCTS CRUD FILE-->
  <div>
    <!-- TOP VUE HEADER -->
    <div class="mb-0 pt-5 grey darken-1">
      <v-row align="center" justify="center">
        <v-col
          xs="12" sm="12" md="12" lg="8" xl="8"
          align="center"
          justify="center"
        >
          <v-card
            flat
            tile
            class="grey darken-1"
            align="center"
            justify="center"
          >
          <p class="white-text ml-2 mr-2">
            ADMINISTRATION PRODUITS CREPERIE DU PORT: Vous êtes connecté en tant que "<span class="amber--text">{{ user.email }}</span>"
          </p>
          </v-card>
        </v-col>
        <v-col 
          xs="12" sm="12" md="12" lg="4" xl="4"
          align="center"
          justify="center"
        >
        <v-card
          flat
          tile
          class="grey darken-1"
          align="center"
          justify="center"
        >
          <v-btn
            @click="logout"
            class="my-4 mt-0 pt-0 white--text"
            color="red lighten-2"
          >
            <v-icon small left class="white-text">mdi-logout</v-icon>Se Déconnecter
          </v-btn>
        </v-card>
        </v-col>
      </v-row>
    </div>
    <!-- END OF TOP VUE HEADER -->

    <!-- PRODUCTS SECTION -->
    <v-container class="customContainer">
      <v-card
        class="
        text-center 
        grey lighten-4 
        pa-3 pb-8 mt-1
        "
      >
        <div>
          <v-row>
            <v-col><h4 class="mb-0">PRODUITS</h4></v-col>
          </v-row>
          <v-row>
            <v-col cols="10"></v-col>

            <v-col>
              <v-row>
                <h6>Aide: </h6>
                <!-- HELP BUTTON V-DIALOG WINDOW -->
    <div class="text-center">
      <v-dialog
        v-model="dialogHelp"
        width="900"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
              fab
              dark
              x-small
              color="blue lighten-1"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon dark>
              mdi-help
            </v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-card-title class="text-center headline grey lighten-2">
            AIDE pour le FORMULAIRE "AJOUTER / MODIFIER" PRODUITS
          </v-card-title>

          <v-card-text>
              <h5>AJOUTER OU MODIFIER UN PRODUIT</h5>
              <h6>Champs obligatoires à remplir:</h6>
              <p>
              <br>
              <ul> 
                <li>- nom produit</li>
                <li>- description ( si aucune description : laisser 'abs' )</li>
                <li>- prix ( si aucun prix : laisser '1' )</li>
                <li>- choix catégorie</li>
                <li>- choix menu</li>
              </ul>
              <br>
              <h6>IMPORTANT: "le prix":</h6>
              <br>
              <p>
                Le prix doit être indiqué en chiffres uniquement (NE PAS ECRIRE DE LETTRES)
                <br>IMPORTANT: les chiffres à virgules sont à écrire avec un POINT !!!
                <br><br>exemple: 2.70
              </p>
              <br>
              <h6>Le Champ: "Position"</h6>
              <p>
              <br>Sert à indiquer à quelle position se trouve le produit dans les rubriques du site ( pour chaque catégorie de produit).
              <br>Les positions sont déjà pré-remplies dans le tableau / Cette option ne sera utilisée qu'à la marge dans un premier temps...
              <br><br>UTILISATION:
              <br><br>Exemple: Vous avez: glace vanille en position 1 et glace chocolat en position2
              <br>Vous voulez insérer 'glace café' entre glace vanille et glace chocolat :
              <br><br>=> indiquer '1.5' : vous aurez vanille( 1) / café (1.5) / chocolat (2)
              <br>et ainsi de suite... (exemple: si on a 'fraise' en position 1.7 elle se retrouvera entre café(1.5 et chocolat(2)))
              <br><br>Le tableau présentera alors les produits de la façon suivante:
              <br><br>
              <ul> 
                <li>glace vanille</li>
                <li>glace café</li>
                <li>glace fraise</li>
                <li>glace chocolat</li>
              </ul>
            
            </p>
            <br><br>
            <h5>POUR BIEN COMPRENDRE LE TABLEAU DES PRODUITS</h5>
            <br>
            <h6>Infos supplémentaires:</h6>
            <p>
              lecture du TABLEAU DES PRODUITS:
              <br>
              <br>Chaque produit doit correspondre à une catégorie pour être inséré dans le site. Le choix des menus permet d'insérer le produit au choix:
              <ul> 
                <li>dans menu midi-soir (lire:"M-S" dans le tableau de la page 'PRODUITS' )</li>
                <li>dans menu après-midi (lire:"AM" dans le tableau de la page 'PRODUITS' )</li>
                <li> à la fois dans menu midi-soir et menu après-midi(lire:"M-S-AM" dans le tableau de la page 'PRODUITS' )</li>
              </ul>
              <br><br>Les descriptions des produits apparaissent selon leur utilité ( précisions à ajouter): leur apparition sur le site est "pré-établie"
              <br><br> La colonne "Actions" du tableau permet de modifier ou supprimer un produit:
              <br>
              <ul> 
                <li>- symbole 'crayon' vert = modifier produit</li>
                <li>- symbole 'poubelle' gris = supprimer produit</li>
              </ul>
              <br>
              <br>Les produits sont automatiquement signalés comme "non disponibles" si la case 'disponible' du formulaire est décochée ( voir dans l'action "modifier")
            </p>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="dialogHelp = false"
            >
              OK
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <!-- END OF HELP BUTTON V-DIALOG WINDOW -->
              </v-row>
              
            </v-col>
            
          </v-row>
          
        </div>
        <!-- MAIN PRODUCTS TABLE -->
        <v-data-table
          :headers="headers"
          :items="products"
          sort-by="categ"
          class="elevation-1"
          disable-pagination
          :hide-default-footer="true"
        >

          <!-- TOOLBAR -->
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Tableau des Produits</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>

              <!-- POPUP V-DIALOG WINDOW ( INTEGRATED TO V DATA TABLE )-->
              <v-dialog v-model="dialog" max-width="800px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="blue lighten-1"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                  >Ajouter Produit</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                  >
                    <v-container pa-8>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            v-model="editedItem.name"
                            label="Nom du produit"
                            :rules="nameRules"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            v-model="editedItem.description"
                            label="Description"
                            :rules="descRules"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-row><v-text-field
                          v-model="editedItem.price"
                          label="Prix"
                          :rules="priceRules"
                          required
                          ></v-text-field><p><br>euros</p></v-row>
                        </v-col>
                        
                        <!-- OPTIONS ADDED TO CATEGORY COLUMN -->
                        <v-col cols="12" sm="6" md="4">
                          <v-select
                            v-model="editedItem.categ"
                            :items="prodCategNames2"
                            item-text="label"
                            item-value="id"
                            persistent-hint
                            return-item-value
                            label="Choix Catégorie"
                            solo
                            :rules="categRules"
                            required
                          ></v-select>
                        </v-col>
                        <!-- img_id is a column in the products table ( in database ) / it's here for the app's future evolutions -->
                        <!--
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.img_id" label="Img_id"></v-text-field>
                        </v-col>
                        -->
                        <!-- OPTIONS ADDED TO MENU COLUMN -->
                        <v-col cols="12" sm="6" md="4">
                          <v-select
                            v-model="editedItem.menu"
                            :items="menuItems2"
                            item-text="label"
                            item-value="id"
                            persistent-hint
                            return-item-value
                            label="Choix Menu"
                            solo
                            :rules="menuRules"
                            required
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.position" label="Position (ordre du produit pour affichage)"></v-text-field>
                        </v-col>
                      </v-row>
                      <!-- Checkbox -->
                        <v-col cols="12" sm="6" md="4">
                          <v-checkbox
                            v-model="editedItem.activated"
                            :label="`Disponible`"
                          ></v-checkbox>
                        </v-col>
                    </v-container>
                  </v-form>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
                    <v-btn color="blue darken-1" :disabled="!valid" text @click="checkFieldsbeforeSave">Sauvegarder</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- END OF POPUP V-DIALOG WINDOW -->

            </v-toolbar>
            <!-- END OF TOOLBAR -->

          </template>

          <!-- BUTTON ACTIONS AT END OF EACH ROW -->
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon
              small
              class="mr-2 green--text text--darken-1"
              @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </template>
          <!-- reset btn in case there is no data loaded -->
          <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
          </template>

          <!-- customizing "disponible" / = activated column text and colors -->
          <template v-slot:[`item.activated`]="{ item }" >
            <div :class="getActivatedStyle(item.activated)">{{ item.activated ? 'oui': 'non' }}</div>
          </template>

          <!-- customizing "menu" column text -->
          <template v-slot:[`item.menu`]="{ item }" >
            <div v-if="( item.menu == '1' )">M-S</div>
            <div v-if="( item.menu == '2' )">AM</div>
            <div v-if="( item.menu == '12' )">M-S-AM</div>
          </template>

          <!-- customizing "categ" column text -->
          <template v-slot:[`item.categ`]="{ item }" >
            <div v-if="( item.categ == '1' )">crêpes froment</div>
            <div v-if="( item.categ == '12' )">specialités</div>
            <div v-if="( item.categ == '2' )">glaces</div>
            <div v-if="( item.categ == '21' )">coupe simple</div>
            <div v-if="( item.categ == '22' )">composees</div>
            <div v-if="( item.categ == '3' )">spécialités maison</div>
            <div v-if="( item.categ == '4' )">boissons fruits frais pressés</div>
            <div v-if="( item.categ == '41' )">jus de fruits</div>
            <div v-if="( item.categ == '42' )">boissons gazeuses</div>
            <div v-if="( item.categ == '43' )">eaux minérales</div>
            <div v-if="( item.categ == '44' )">cidres</div>
            <div v-if="( item.categ == '45' )">bières à la pression</div>
            <div v-if="( item.categ == '46' )">bières en bouteille</div>
            <div v-if="( item.categ == '47' )">boissons chaudes</div>
            <div v-if="( item.categ == '48' )">laits</div>
            <div v-if="( item.categ == '5' )">crêpes de blé noir simples</div>
            <div v-if="( item.categ == '51' )">crêpes de blé noir composées</div>
            <div v-if="( item.categ == '52' )">crêpes de blé noir spécialités</div>
            <div v-if="( item.categ == '6' )">salades</div>
            <div v-if="( item.categ == '7' )">moules frites</div>
            <div v-if="( item.categ == '8' )">Fruits de Mer</div>
            <div v-if="( item.categ == '81' )">Spécialités et Poissons</div>
            <div v-if="( item.categ == '9' )">menu enfants</div>
            <div v-if="( item.categ == '10' )">blancs Pays D Oc</div>
            <div v-if="( item.categ == '11' )">blancs Val De Loire</div>
            <div v-if="( item.categ == '123' )">rouges Val De Loire</div>
            <div v-if="( item.categ == '13' )">rouges Bourgogne</div>
            <div v-if="( item.categ == '14' )">roses</div>
            <div v-if="( item.categ == '15' )">vins Carafe</div>
            <div v-if="( item.categ == '111' )">Apéritifs</div>
            <div v-if="( item.categ == '112' )">Digestifs</div>
            <div v-if="( item.categ == '113' )">Apéritifs régionnaux</div>
            <div v-if="( item.categ == '114' )">Apéritifs sans alcool</div>

          </template>

        </v-data-table>
      </v-card>   
    </v-container>
    <!-- TOP OF TOPFOOTER -->
    <v-container fluid class="grey darken-1">
      <v-row  no-gutters align="center" justify="center">
        
        <v-col 
          xs="12" sm="12" md="12" lg="4" xl="4"
          align="center"
          justify="center"
        >
        <v-card
          flat
          tile
          class="grey darken-1"
          align="center"
          justify="center"
        >
          <v-btn
            @click="logout"
            class="mt-4 white--text"
            color="red lighten-2"
          >
            <v-icon small left class="white-text">mdi-logout</v-icon>Se Déconnecter
          </v-btn>
        </v-card>
        </v-col>
      </v-row>
    </v-container>
    <!-- END OF TOPFOOTER -->

  </div>
        
</template>

  <!--  ---------------------------------------------------------------- -->
  <!--  ------------------------- SCRIPT ------------------------------- -->
  <!--  ---------------------------------------------------------------- -->

<script>
import DAO from "../../lib/DAOProducts";
import * as firebase from "firebase";
import "firebase/auth";
import Axios from "axios";

import { mapGetters } from "vuex";

export default {
  mounted(){
    this.load();
  },
  data() {
    return {
  //help button v-dialog
  dialogHelp: false,
  //valid -> CRUD form fields validation bool
  valid: true,
  name: '',
  nameRules: [
    v => !!v || 'nom obligatoire',
  ],
  desc: 'abs',
  descRules: [
    v => !!v || `champ obligatoire ( s'il n'y a pas de description: laisser 'abs' )`,
  ],
  price: '0',
  priceRules: [
    v => !!v || `champ obligatoire ( s'il n'y a pas de prix: laisser '1' )`,
  ],
  categ: '',
  categRules: [
    v => !!v || 'categorie obligatoire',
  ],
  menu: '',
  menuRules: [
    v => !!v || 'menu obligatoire',
  ],
  checkbox: true,
  dialog: false,
  headers: [
    //{ text: 'Prod_id', value: 'prod_id' },
    { text: 'Nom', value: 'name' },
    { text: 'Description', value: 'description' },
    { text: 'Prix', value: 'price' },
    { text: 'Categ', value: 'categ' },
    { text: 'Menu', value: 'menu' },
    { text: 'Position', value: 'position' },
    { text: 'Disponible', value: 'activated' },
    //{ text: 'Img_id', value: 'img_id' },
    { text: 'Actions', value: 'actions', sortable: false },
  ],
  products: [],
  menuItems: ['Menu midi-soir + après-midi','Menu midi-soir', 'Menu après-midi'],
  prodCategNames2: [
    {id:'1',label:'crêpes froment'},
    {id:'12',label:'specialités'},
    {id:'2',label:'glaces'},
    {id:'21',label:'coupe simple'},
    {id:'22',label:'composees'},
    {id:'3',label:'spécialités maison'},
    {id:'4',label:'boissons fruits frais pressés'},
    {id:'41',label:'jus de fruits'},
    {id:'42',label:'boissons gazeuses'},
    {id:'43',label:'eaux minérales'},
    {id:'44',label:'cidres'},
    {id:'45',label:'bières à la pression'},
    {id:'46',label:'bières en bouteille'},
    {id:'47',label:'boissons chaudes'},
    {id:'48',label:'laits'},
    {id:'5',label:'crêpes de blé noir simples'},
    {id:'51',label:'crêpes de blé noir composées'},
    {id:'52',label:'crêpes de blé noir spécialités'},
    {id:'6',label:'salades'},
    {id:'7',label:'moules frites'},
    {id:'8',label:'Fruits de Mer'},
    {id:'81',label:'Spécialités et Poissons'},
    {id:'9',label:'menu enfants'},
    {id:'10',label:'blancs Pays D Oc'},
    {id:'11',label:'blancs Val De Loire'},
    {id:'123',label:'rouges Val De Loire'},
    {id:'13',label:'rouges Bourgogne'},
    {id:'14',label:'roses'},
    {id:'15',label:'vins Carafe'},
    {id:'111',label:'Apéritifs'},
    {id:'112',label:'Digestifs'},
    {id:'113',label:'Apéritifs régionnaux'},
    {id:'114',label:'Apéritifs sans alcool'},
    
  ],
  select: {id:'12', label:'Menu midi-soir + après-midi'},
  menuItems2: [
    {id:'12',label:'Menu midi-soir + après-midi'},
    {id:'1',label:'Menu midi-soir'},
    {id:'2',label:'Menu après-midi'}
  ],
  editedIndex: -1,
  editedItem: {
    prod_id: 0,
    name: '',
    description: 'abs',
    price: 1,
    activated: true,
    position: 0,
    categ: '',
    img_id: 0,
    menu: ''
  },
  defaultItem: {
    prod_id: 0,
    name: '',
    description: 'abs',
    price: 1,
    activated: true,
    position: 0,
    categ: '',
    img_id: 0,
    menu: ''
  },
  }
  },
  computed: {
    ...mapGetters(["user"]),
    formTitle () {
        return this.editedIndex === -1 ? 'Ajouter un Nouveau Produit' : 'Modifier un Produit'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
  },
  created () {
    this.initialize()
  },
  methods: {
    
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/");
        });
    },
    initialize () {
      DAO.getAllProducts()
      .then(allproducts => {
        this.products = allproducts.data
      });
    
      },

      editItem (item) {
        this.editedIndex = this.products.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.products.indexOf(item)
        confirm('ETES VOUS SUR DE VOULOIR SUPPRIMER CE PRODUIT ?') && this.products.splice(index, 1)
        //deleted data
        Axios.delete('http://localhost:5000/deleteProduct/'+item.prod_id)
        .then(response => {
          console.log(response);
        });
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      checkFieldsbeforeSave () {
        if(this.editedItem.name=='' || this.editedItem.description=='' || this.editedItem.price=='' ||this.editedItem.categ=='' || this.editedItem.menu==''){
          alert('Un ou plusieurs champs du formulaire sont manquant(s). Veuillez vérifier SVP');
          //this.close();
        }else{
          this.save();
        }
      },
      save () {
        // if recorded data is edited
        if (this.editedIndex > -1) {
          // edited data
          fetch('http://localhost:5000/updateProduct', {
            method: 'PATCH',
            headers: {
              'Content-type': 'application/json'
            },
            body: JSON.stringify({
              id: this.editedItem.prod_id,
              name: this.editedItem.name,
              description: this.editedItem.description,
              price: this.editedItem.price,
              activated: this.editedItem.activated,
              position: this.editedItem.position,
              categ: this.editedItem.categ,
              img_id: this.editedItem.img_id,
              menu: this.editedItem.menu
            })
          })

          //end edited data
          this.initialize();
          Object.assign(this.products[this.editedIndex], this.editedItem)
        // else : CREATE a data record
        } else {
            const postProduct = new Promise((resolve, reject) => {
              // posting product in database
              const result = fetch('http://localhost:5000/insertProduct', {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json'
                },
                body: JSON.stringify({
                  name: this.editedItem.name,
                  description: this.editedItem.description,
                  price: this.editedItem.price,
                  activated: this.editedItem.activated,
                  position: this.editedItem.position,
                  categ: this.editedItem.categ,
                  img_id: this.editedItem.img_id,
                  menu: this.editedItem.menu
                })
              })
              if(result){
                resolve(result)
              }else{
                reject()
              }
            });
            //refreshing products datatable (in order to get newly created product id IN the datatable : id = compulsory for edit option)
            postProduct.then(
              this.initialize()
            ).catch(()=> {
              console.log('err')
            })
          }
      this.initialize();
      this.close();
      },
      //change oui/non boolean string colors
      getActivatedStyle (activated) {
      if (activated == false) return 'red--text'
      else return 'green--text'
    },
    help () {

    }
  },
};
</script>

<style scoped>
.v-data-table
  /deep/
  tbody
  /deep/
  tr:hover:not(.v-data-table__expanded__content) {
  background: #ffffff !important;
}
.customContainer {
max-width: '95%'
    
}
</style>
