<template>
  <v-container grey >
    <v-row>
      <v-col cols="12">
        <h4 class="text-center white--text font-weight-medium">Qui sommes nous ?</h4>
      </v-col>
    </v-row>
    <v-row>
      <v-col xs="12" sm="12" md="6" lg="6" xl="6">
        <v-card flat class="grey vcard">
          <v-card-text class="text-left white--text font-weight-medium vcardtext1">
            <p> Depuis 1977, la Crêperie du Port vous accueille en bord de rivière. Laissez vous charmer par sa vue sur sur l’Aven , son accueil chaleureux et par sa cuisine authentique et savoureuse.</p>
            <p> Nos plats sont préparés avec des produits locaux, frais et de qualité. Les arrivages de nos poissons et fruits de mer  sont journaliers ( en partenariat avec la poissonnerie « Naour Morel », notre poissonnerie familiale depuis quatre générations ).</p>
            <p> Nos menus sauront aussi bien ravir parents et enfants grâce à leur choix de recettes variées et délicieuses…</p>
          </v-card-text>
        </v-card> 
      </v-col>
      <v-col
        sm="12" xs="12" md="6" lg="6"
      >
        <v-card flat class="grey vcard">
          <v-img class="img1" src="../assets/img/devanture-creperie-du-port.jpg" alt="devanture-creperie-du-port-pont-aven" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "About"
};
</script>

<style scoped>
h4 {
  padding-top: 0rem;;
}
.vcard {
  padding-top: 0rem;
}
.img1 {
  padding-top: 0rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.vcardtext1 {
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
</style>
