<template>
  <v-footer
    color="grey darken-3"
    app
    min-height="100px"
    justify-center
    absolute
    class="pa-4 ma-0"
  >
    <v-card
      flat
      tile
      width="100%"
      class="grey darken-3 text-center"
    >
      <v-card-text class="white--text">
        Copyright &copy; {{ new Date().getFullYear() }} Crêperie du Port
      </v-card-text>
      <v-btn
        small
        to="/Login"
        class="my-2 white--text text--darken-1"
        color="grey darken-2"
        max-height="35"
        contain
      >
        <v-icon small left>mdi-login</v-icon> Login
      </v-btn>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>
