<template>
  <v-container fluid>
    <v-img src="../assets/img/rivierecreperie4.png" alt="devanture-creperie-du-port-pont-aven"></v-img>
    <v-carousel
      cycle
      height="53"
      hide-delimiters
      :show-arrows="false"
    >
      <v-carousel-item
        v-for="(slide, i) in slides"
        :key="i"
      >
        <v-row
          align="center"
          justify="center"
        >
          <!-- hidden for bigger screens -->
          <h6 class="hidden-lg-and-up amber--text font-weight-medium mt-4">{{ slide }} </h6>
          <!-- hidden for small screens -->
          <h5 class="h6 hidden-md-and-down amber--text font-weight-medium mt-4">{{ slide }} </h5>
        </v-row>
      </v-carousel-item>
    </v-carousel>
  </v-container>
</template>

<script>
export default {
  name: "Header",
  data () {
      return {
        slides: [
          '"Nous cuisinons des produits Frais"',
          '"Nous cuisinons des produits Locaux"',
          '"Nous cuisinons des produits de Saison"'
        ],
      }
    },
  }
</script>

<style scoped>
.v-carousel {
  margin-top: 10px;
}
</style>
