<template>
  <v-container pt-8 id="home-menu-grid">
      <v-row align="center" justify="center">
        <v-col
        xs="12" sm="6" md="6" lg="6" xl="6"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              to="/Menu-midi"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }" 
            >
              <v-img
                src="../assets/img/menu.svg"
                max-width="65px"
                class="d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="grey--text text--darken-1 font-weight-medium">Carte du midi et soir</subtitle-2>
            </v-card>
          </v-hover> 
        </v-col>  
        <v-col
          xs="12" sm="6" md="6" lg="6" xl="6"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              to="/Menu-apres-midi"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"  
            >
              <v-img
                src="../assets/img/menu.svg"
                max-width="65px"
                class="d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Carte de l'après-midi</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          xs="12" sm="6" md="6" lg="6" xl="6"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              to="/A-emporter"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }" 
            >
              <v-img
                src="../assets/img/take-out.svg"
                max-width="65px"
                class="d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Plats à emporter</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
        <v-col
          xs="12" sm="6" md="6" lg="6" xl="6"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="center card"
              flat
              align="center"
              justify="center"
              color="grey lighten-4"
              to="/Menu-midi#boiss"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
              link  
            >
              <v-img
                src="../assets/img/party.svg"
                max-width="65px"
                class="d-block ml-auto mr-auto"
                :class="{ 'zoom-efect': hover }"
              ></v-img>
              <subtitle-2 class="font-weight-medium grey--text text--darken-1">Nos boissons</subtitle-2>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <span id="book"></span>
  </v-container>
</template>

<script>
</script>

<style scoped>
.card {
  min-height: 131px;
  transition: 0.5s ease-out;
  margin: 0%;
  padding-top: 9%;
  padding-bottom: 8%;
}
</style>
