<template>
  <v-container grey>
    <v-container id="infomap" class="pb-0 grey white--text">
      <v-row no-gutters>
        <v-col
          xs="12" sm="4" md="4" lg="4" xl="4"
        >
          <v-card
            id="hours"
            class="text-center card white pl-2 pr-2"
            flat
            align="center"
            justify="center"
            color="grey" 
          >
            <h6 class="pb-2 font-weight-medium grey white--text">HORAIRES</h6>
            <subtitle-2 class="font-weight-medium grey white--text">12h - 15h / 19h -21h</subtitle-2>
          </v-card>
        </v-col>
        <v-col
          xs="12" sm="4" md="4" lg="4" xl="4"
        >
          <v-card
            class="text-center card white pl-2 pr-2"
            flat
            align="center"
            justify="center"
            color="grey"
          >
            <h6 class="pb-2 font-weight-medium grey white--text">ADRESSE</h6>
            <subtitle-2 class="font-weight-medium grey white--text">13, Quai Théodore Botrel, 29930 Pont-Aven</subtitle-2>
          </v-card>
        </v-col>
        <v-col
          id="book"
          xs="12" sm="4" md="4" lg="4" xl="4"
        >
          <v-card
            class="text-center card white pl-2 pr-2"
            flat
            align="center"
            justify="center"
            color="grey" 
          >
            <h6 class="pb-2 font-weight-medium grey white--text">CONTACT</h6>
            <subtitle-2 class="font-weight-medium grey white--text">02 98 06 00 88</subtitle-2>
          </v-card>
        </v-col> 
      </v-row>
    </v-container>
    <iframe id="iti" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2677.34101081024!2d-3.7500236492442687!3d47.852358578860354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4810e87b1438a015%3A0xb737253a38ef405b!2s13%20Quai%20Th%C3%A9odore%20Botrel%2C%2029930%20Pont-Aven!5e0!3m2!1sen!2sfr!4v1596101729100!5m2!1sen!2sfr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div
    class="white--text"
    align="center"
    justify="center"
    >
      <br>
      <subtitle-2 class="font-weight-medium grey white--text">Venez profiter de notre grande terrasse et de sa vue sur l'Aven...</subtitle-2>
      <br>
      <br>
      <v-img src="../assets/img/terrasse-creperie-du-port-pont-aven.jpg" alt="terrasse-creperie-du-port-pont-aven" />
      <br>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "InfoMap",
}
</script>

<style scoped>
</style>
