<template>
  <div>  
    <v-app-bar color="rgb(255, 255, 255, 0.95)" app>
      <router-link to="/">
        <v-img
          class="mx-2"
          src="../assets/logosCDP3.png"
          alt="logo-creperie-du-port"
          max-height="70"
          max-width="70"
          contain
        ></v-img>
      </router-link>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn
          text
          class="text-uppercase grey--text  text--darken-1"
          to="/">
          ACCUEIL
        </v-btn>
        <v-menu
          v-model="value"
          :disabled="disabled"
          :absolute="absolute"
          :open-on-hover="openOnHover"
          :close-on-click="closeOnClick"
          :close-on-content-click="closeOnContentClick"
          :offset-x="offsetX"
          :offset-y="offsetY"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              class="text-uppercase grey--text  text--darken-1"
              color="white"
              v-bind="attrs"
              v-on="on"
            >
              NOTRE CARTE
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in notreCarte"
              :key="index"
              :to="item.route"
              link
            >
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-btn
          text
          class="text-uppercase grey--text text--darken-1"
          to="/Mesures-covid-19"
        >
          MESURES COVID-19
        </v-btn>
        <v-btn
          text
          class="text-uppercase grey--text text--darken-1"
          to="/Galerie"
        >
          GALERIE
        </v-btn>
        <v-btn
          text
          class="text-uppercase grey--text text--darken-1"
          to="/#book"
        >
          RESERVER
        </v-btn>
      </v-toolbar-items>
      <span class="hidden-sm-and-up" >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="grey--text text--darken-1"></v-app-bar-nav-icon>
      </span>  
    </v-app-bar>
    <!-- navigation drawer -->
    <v-navigation-drawer
      v-model="drawer"
      temporary
      right
      app
    >
      <v-list>
        <v-list-item
          to="/"
        >
          <v-list-item-icon>
            <v-icon grey >mdi-home</v-icon>
          </v-list-item-icon>

          <v-list-item-title>Home</v-list-item-title>
        </v-list-item>
        <!-- v-list-group for notre carte (menus) -->
        <v-list-group 
        >
          <template v-slot:activator>
            <v-list-item-icon>
              <v-icon>mdi-card</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Notre Carte</v-list-item-title>
          </template>
          <v-list-item
            v-for="(item, index) in notreCarte"
            :key="index"
            :to="item.route"
            link
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
      </v-list>
      <v-list-item
        v-for="(item, index) in items"
        :key="index"
        :to="item.route"
        link
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-navigation-drawer> 
  </div>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return{
      drawer: false,
      items: [
        { icon: 'mdi-virus', title: 'Mesures Covid-19', route: '/Mesures-covid-19'},
        { icon: 'mdi-camera', title: 'Galerie', route: '/Galerie'},
        { icon: 'mdi-book', title: 'Réserver', route: '/#infomap'}
      ],
      notreCarte: [
        { icon: '', title: 'Menu midi', route: '/Menu-midi'},
        { icon: '', title: 'Menu après midi', route: '/Menu-apres-midi'},
        { icon: '', title: 'A emporter', route: '/A-emporter'}
        
      ],
    }
      
  },
};
</script>

<style scoped>
</style>
