<template>
  <section>
    <v-container pb-6 class="grey lighten-4 pt-8">
      <v-row class="row1">
        <v-col
          v-for="icon in icons"
          :key="icon.title"
          cols="3"
          class="col" 
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              v-if="icon.title != 'Infos Rapides'"
              class="text-center card"
              flat
              align="center"
              justify="center"
              :to="icon.route"
              link
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
            >
              <v-icon x-large >{{icon.icon}}</v-icon>
              <v-card-text class="display-0 font-weight-medium vtext">{{icon.title}}</v-card-text>
            </v-card>
          </v-hover>
          <v-hover v-slot:default="{ hover }">
            <v-card
              v-if="icon.title == 'Infos Rapides'"
              class="text-center card"
              flat
              align="center"
              justify="center"
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
            >
              <v-icon x-large>{{icon.icon}}</v-icon>
              <v-card-text class="display-0 font-weight-medium vtext">{{icon.title}}</v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row class="row1">
        <v-col
          v-for="icon in icons2"
          :key="icon.title"
          cols="3"
          class="col"

        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="text-center card white"
              flat
              align="center"
              justify="center"
              :to="icon.route"
              link
              :elevation="hover ? 10 : 4"
              :class="{ up: hover }"
            >
              <v-icon x-large>{{icon.icon}}</v-icon>
              <v-card-text class="display-0 font-weight-medium vtext">{{icon.title}}</v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
export default {
  name: "QuickLinks",
  data () {
    return {
      icons: [
        {icon: "fa-arrow-alt-circle-right", title:"Infos Rapides", route:"/"},
        {icon: "fa-book-open", title:"Notre Carte", route:"/#home-menu-grid"},
        {icon: "fa-qrcode", title:"Menu à Flasher", route:"/Mesures-covid-19#infosqr"},
        {icon: "fa-shopping-bag", title:"A Emporter", route:"/A-emporter"},  
      ],
      icons2: [
        {icon: "fa-shield-alt", title:"Mesures Sanitaires", route:"/Mesures-covid-19"},
        {icon: "fa-bookmark", title:"Réserver", route:"/#book"},
        {icon: "fa-map-signs", title:"Itinéraire", route:"/#iti"},
        {icon: "fa-clock", title:"Horaires", route:"/#hours"}, 
      ],
    }
  } 
};
</script>

<style scoped>
.card {
  min-height: 131px;
  padding-top: 23px;
  transition: 0.5s ease-out;
  margin: 0%;
}
.col {
  margin: 0%;
  padding: 0.7%;
  padding-bottom: 0.3%
}
.vtext {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0px;
}
.row1 {
  margin-bottom: 10px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
</style>
